<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Create Your Profile</h1>
        <p class="text-center">Be a part of the Dev Match community and fill out your profile</p>
        <div class="well">
             <%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
                 <div class="form-group">
                     <%= f.label :first_name %>
                     <%= f.text_field :first_name, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :last_name %>
                     <%= f.text_field :last_name, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :avatar %>
                     <%= f.file_field :avatar, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :job_title %>
                     <%= f.select :job_title, ['Developer', 'Entrepreneur', 'Investor'], {}, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :phone_number %>
                     <%= f.text_field :phone_number, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :contact_email %>
                     <%= f.text_field :contact_email, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.label :description %>
                     <%= f.text_area :description, class: 'form-control' %>
                 </div>
                 <div class="form-group">
                     <%= f.submit "Update Profile", class: 'btn btn-primary' %>
                 </div>
             <% end %>
                 
        </div>
    </div>
    
</div>