
<div class='row'>
  <div class="col-md-6 col-md-offset-3 text-center">
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <p>Sign up for the pro account for $10/month and get access to the community and contact information!</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign up for free and get basic accessto the community.</p>
    <% end %>  
  </div>  
  <div class="col-md-6 col-md-offset-3 ">
    <div class="well">
      <h2>Sign up</h2>
      <% if params[:plan] == '2' %>  
         <%= render "pro_form" %>
      <% else %>   
         <%= render "basic_form" %>
      <% end %> 
      
      <%= render "devise/shared/links" %>
    </div>  
  </div>
</div>  