<div class = "row">
    <div class = "col-md-8 col-md-offset 2">
        <h1>Dev Match Community</h1>
        <p>Welcome to the Dev Match community.  Users must fill out a profile to be visable in the community.</p>
        <ul class="list-unstyled">
            <% @users.each do |u| %>
                <% if u.profile %>
                    <li>
                        <div class= "well row <%= cycle('white-bg', '') %>">
                            <div class="col-sm-4 text-center">
                                <% if u.profile.avatar %>
                                    <%= link_to u do %>
                                        <%= image_tag u.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                                    <% end %>    
                                <% end %>
                            </div>
                            <div>
                            <%= link_to u do %>    
                                <h2><%= u.profile.first_name %> <%= u.profile.last_name %></h2>
                            <% end %>
                            <p>
                            <%= u.profile.job_title %>
                            <% if u.plan_id == 2 %>
                                <span class="label label-danger">PRO</span>
                            <% end %> 
                            </p>
                        </div>
                    </li>
                        
                <% end %>
            <% end %>
        </ul>    
    </div>
</div>