
<div class = "jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where entrepreneurs can meet developers</h3>
</div>
<div class= "row">
    <% if user_signed_in? %>
    <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Your Profile</h2>    
             <% if current_user.profile %>
                <%= link_to "Edit your profile", edit_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
                <%= link_to "View your profile", user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>    
             <% else %>     
                <p>Create your profile so that you can share your information with the community.</p>
                <%= link_to "Create your profile!", new_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
         %>
             <% end %>
        </div>     
    </div>
     <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">The Community</h2>
            <p>Visit the community to meet other developers, entrepreneurs, and investors!</p>
            <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
     
    <% else %>
    
        <div class="col-md-6">
            <div class="well">
              <h2 class="text-center"> Basic Membership </h2>
              <h4>Sign up for free and get basic accessto the community.</h4>
              <br>
              <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="well">
              <h2 class="text-center"> Pro Membership </h2>
              <h4>Sign up for the pro account for $10/month and get access to the community and contact information!</h4>
               <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
            </div>
            
        </div>
    <% end %>    
</div>